nav {
    position: fixed;
    /* 固定在頂部 */
    top: 0;
    /* 距離頂部0 */
    z-index: 1000;
    background-color: white;
    display: flex;
    width: 100%;
    height: 54px;
    /* padding: 10px 360px; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    border-bottom: 1px solid #E8E8E8;
}

.nav-bar {
    /* border: 1px solid rgb(169, 11, 38); */
    width: 1200px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}


.nav-title {
    /* border: 1px solid rgb(87, 87, 225); */
    flex: none;
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* height: 34px; */
}

.nav-title p {
    /* border: 1px solid greenyellow; */
    color: var(--primary-color-cyan-70, #489);
    ;
    /* font-weight: bold; */
    /* Header 2 - Bold 30(34) */
    font-family: Noto Sans TC;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 113.333% */
}

.nav-menu {
    /* border: 0.5px solid rgb(253, 1, 220); */
    display: flex;
    /* justify-content: flex-end; */
    /* justify-self: center; */
    align-items: center;
    height: 34px;
}

.nav-menu-item {
    /* border: 1px solid rgb(29, 110, 0); */
    /* width: 100%; */
    flex: none;
    /* height: 34px; */
    padding: 10px;

    align-items: center;
}

.nav-menu-item p {
    /* border: 1px solid blue; */
    color: var(--secondary-color-gray-70, #666);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
    ;
    cursor: pointer;
}


#show-login-button{
    cursor: pointer;
}
.login-form {
    display: none;
    flex-wrap: wrap;
    /* border: 1px solid gray; */
    width: 340px;
    height: 275px;
    position: fixed;
    top: 215px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    z-index: 9999;
    box-sizing: border-box;
    border-top: 10px solid;
    border-image: linear-gradient(270deg, #378 0%, #6AB 100%) 1;
    /* gap: 10px; */
    border-radius: 6px;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 60px 0px #AAA;
    justify-content: center;
}

.login-form-nav {
    width: 100%;
    height: 27px;
    display: flex;
    /* border: 1px solid blue; */
    justify-content: center;
}

#close-login {
    top: 18px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.login-form-title {
    color: var(--secondary-color-gray-70, #666);
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0;

}

.login-form-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}



.login-form-input-email {
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    width: 100%;
    height: 17px;
    padding: 15px;
    color: var(--secondary-color-gray-50, #757575);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
}

.login-form-input-password {
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    width: 100%;
    height: 17px;
    padding: 15px;
    color: var(--secondary-color-gray-50, #757575);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
}

.login-form-button {
    width: 100%;
    border-radius: 5px;
    background: var(--primary-color-cyan-70, #489);
    padding: 10px 20px;
    color: var(--additional-color-white, #FFF);
    text-align: center;

    /* Button - Reg 19(16) */
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 84.211% */
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #489;
    cursor: pointer;
}

.login-form-bottom-p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-message {
    margin: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
}

.login-form-p {
    margin: 0;
    color: var(--secondary-color-gray-70, #666);
    text-align: center;

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
}

.login-form-register {
    margin: 0;
    color: var(--secondary-color-gray-70, #666);
    text-align: center;

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
    cursor: pointer;
}

.register-form {
    display: none;
    flex-wrap: wrap;
    /* border: 1px solid gray; */
    width: 340px;
    height: 332px;
    position: fixed;
    top: 245px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    z-index: 9999;
    box-sizing: border-box;
    border-top: 10px solid;
    border-image: linear-gradient(270deg, #378 0%, #6AB 100%) 1;
    /* gap: 10px; */
    border-radius: 6px;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 60px 0px #AAA;
    justify-content: center;
}

.register-form-nav {
    width: 100%;
    height: 27px;
    display: flex;
    /* border: 1px solid blue; */
    justify-content: center;
}

.register-form-title {
    color: var(--secondary-color-gray-70, #666);
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0;

}

#close-register {
    top: 18px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.register-form-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.register-form-input-name {
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    width: 100%;
    height: 17px;
    padding: 15px;
    color: var(--secondary-color-gray-50, #757575);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
}

.register-form-input-email {
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    width: 100%;
    height: 17px;
    padding: 15px;
    color: var(--secondary-color-gray-50, #757575);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
}

.register-form-input-password {
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    width: 100%;
    height: 17px;
    padding: 15px;
    color: var(--secondary-color-gray-50, #757575);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
}

.register-form-button {
    width: 100%;
    border-radius: 5px;
    background: var(--primary-color-cyan-70, #489);
    padding: 10px 20px;
    color: var(--additional-color-white, #FFF);
    text-align: center;

    /* Button - Reg 19(16) */
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 84.211% */
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #489;
    cursor: pointer;
}

.register-form-bottom-p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-message {
    margin: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
}

.register-form-p {
    margin: 0;
    color: var(--secondary-color-gray-70, #666);
    text-align: center;

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
}

.register-form-login {
    margin: 0;
    color: var(--secondary-color-gray-70, #666);
    text-align: center;

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
    cursor: pointer;
}
