body {
    /* border: 1px solid purple; */
    /* display: inline-flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    padding: 0%;
    margin: 0%;
}

nav {
    display: flex;
    /* width: 100%; */
    height: 54px;
    /* padding: 10px 360px; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

.nav-bar {
    /* border: 1px solid rgb(169, 11, 38); */
    width: 1200px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}


.nav-title {
    /* border: 1px solid rgb(87, 87, 225); */
    flex: none;
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* height: 34px; */
}

.nav-title p {
    /* border: 1px solid greenyellow; */
    color: var(--primary-color-cyan-70, #489);
    ;
    /* font-weight: bold; */
    /* Header 2 - Bold 30(34) */
    font-family: Noto Sans TC;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 113.333% */
}

.nav-menu {
    /* border: 0.5px solid rgb(253, 1, 220); */
    display: flex;
    /* justify-content: flex-end; */
    /* justify-self: center; */
    align-items: center;
    height: 34px;
}

.nav-menu-item {
    /* border: 1px solid rgb(29, 110, 0); */
    /* width: 100%; */
    flex: none;
    /* height: 34px; */
    padding: 10px;

    align-items: center;
}

.nav-menu-item p {
    /* border: 1px solid blue; */
    color: var(--secondary-color-gray-70, #666);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
    ;

}

.welcome {
    /* border: 1px solid black; */
    /* width: 100%; */
    height: 320px;
    /* flex-shrink: 0; */
    background: url(/public/pic/welcome.png), lightgray 50% / cover no-repeat;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    /* border: 1px solid slategrey; */
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 1200px;
    height: 149px;
    /* align-items: center; */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    top: 129px;
    align-items: flex-start;
}

.title {
    /* border: 1px solid maroon; */
    display: flex;
    align-items: center;
    height: 41px;
    width: 100%;
    color: var(--secondary-color-gray-10, #F8F8F8);

    /* Text Shadow */
    text-shadow: 0px 0px 30px #ABC;

    /* Header 1 - Bold 28(24) */
    font-family: Noto Sans TC;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 85.714% */
}

.subtitle {
    /* border: 1px solid gold; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 22px;
    color: var(--secondary-color-gray-10, #F8F8F8);

    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    /* 83.125% */
}

.search {

    /* border: 1px solid seagreen; */
    display: flex;
    width: 100%;
    /* height: 46px; */


}

.search input {
    width: 400px;
    height: 46px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0px #ABC;
}

.search input::placeholder {

    color: var(--secondary-color-gray-50, #757575);
    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    /* 83.125% */
}

.search-btn {
    /* border: 1px solid blue; */
    width: 60px;
    height: 46px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #489;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

main {
    /* border: 1px solid gray; */
    /* background-color: rgb(198, 196, 196); */
    /* display: flex; */
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.mrt-list-container {
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: center;
}

.mrt-list-bar {
    /* border: 1px solid darkolivegreen; */
    display: flex;
    width: 1200px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.left-arrow {
    /* border: 1px solid aqua; */
    padding: 9px 0px 9px 15px;
    flex: 0 0 auto;
    cursor: pointer;
}

.mrt-list {
    /* border: 1px solid rgb(30, 1, 193); */
    flex: 1;
    display: flex;
    width: 1086px;
    padding-top: 13px;
    padding-bottom: 13px;
    overflow: hidden;
    /* 隐藏溢出部分 */
    white-space: nowrap;
    /* 防止文字换行 */
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}

.right-arrow {
    /* border: 1px solid crimson; */
    padding: 9px 15px 9px 0px;
    flex: 0 0 auto;
    cursor: pointer;
}


.mrt-container {
    /* border: 1px solid darkorange; */
    color: #666;
    text-align: center;

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    /* 83.125% */
    display: flex;
    padding: 5px 15px;
    align-items: flex-start;
    gap: 4px;
}
.attractions-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* width: 1200px; */
    /* padding: 15px; */
}
.attractions {
    /* border: 1px solid peru; */
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 15px;
    justify-content:space-between ;
    gap: 25px;
    align-items: center;
    /* flex: 1 0 0; */
    box-sizing: border-box;
}

.attractions-group {
    /* border: 1px solid hotpink; */
    /* background-color: #489; */
    /* width: 1170px;
    height: 786px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 25px; */

}

/* .attractions-group::after {
    content: "";
    flex-grow: 1;
} */

.attraction {
    border: 1px solid var(--secondary-color-gray-20, #E8E8E8);
    background: var(--White, #FFF);
    width: 23%;
    height: 242px;
    flex-shrink: 0;
    padding: 0px;
    margin: 0px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.att-img {
    width: 100%;
    height: 197px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.att-img img {
    width: 270px;
    /* height: 197px; */
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    margin: 0px;
}

.att-img p {
    /* position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: auto 0 0 0;
    font-size: 20px;
    color: white;
    padding: 10px; */
    position: absolute;
    bottom: 0;
    /* 放在最下方 */
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    /*背景颜色*/
    color: #fff;
    /* 文字颜色 */
    padding: 5px 10px;
    /* 可选的内边距，根据需要调整 */
    margin: 0px;
    height: 40px;
    /* width: 100%; */
    line-height: 2.5;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.att-detail {
    /* width: 270px; */
    /* width: 100%; */
    /* height: 45px; */
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    align-items: center;
}

.att-detail p {
    /* display: block; */
    margin: 0px;
    /* width: 120px; */
    color: var(--secondary-color-gray-50, #757575);
    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

footer {
    display: flex;
    background: var(--Gray-700, #757575);
    padding: 40px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0px;
    padding: 0px;
    color: var(--additional-color-white, #FFF);

    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    /* 83.125% */
}

@media (max-width:1200px) {



    .mrt-list-container {
        width: 100%;
        /* display: block; */

    }

    .mrt-list-bar{
        width: 100%;

    }

    .attractions {

        column-gap: 20px;
        row-gap: 30px;
    }

    .attraction{

        width: 30%;
    }
    
}

@media (max-width:600px) {
    .search input {
        width:230px ;
    }

    .attractions{
        /* display: block; */
    }
    .attraction{
        width: 46%;
        /* height: 235px; */
    }
}


@media (max-width:360px) {
    .search input {
        width:230px ;
    }

    .attractions{
        display: block;
        /* row-gap: 15px; */
        /* margin-bottom: 15px; */
    }
    .attraction{
        width: 100%;
        /* height: 235px; */
    }
}

