<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <!-- <link rel="stylesheet" type="text/css" href="../public/css/index.css"> -->
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <div class="nav-title">
                <a href="/">
                <p>台北一日遊</p>
            </a>
            </div>
            <div class="nav-menu">
                <div class="nav-menu-item">
                    <p>預定行程</p>
                </div>
                <div class="nav-menu-item">
                    <p>登入/註冊</p>
                </div>
            </div>
        </div>
    </nav>
    <div class="welcome">
        <div class="slogan">
            <div class="title">輕鬆享受台北一日悠閒</div>
            <div class="subtitle">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="search">
                <input type="text"  id="search-input" placeholder="輸入景點名稱查詢" />
                <div class="search-btn">
                    <img src="/public/pic/icon_search.png" alt="search-icon" />
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="mrt-list-container">
            <div class="mrt-list-bar">
                <div class="left-arrow"><img src="/public/pic/left_arrow.png"></div>
                <div class="mrt-list"></div>
                <div class="right-arrow"><img src="/public/pic/right-arrow.png"></div>
            </div>
        </div>
        <div class="attractions-container">
            <div class="attractions">


            </div>
        </div>
    </main>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
</body>
<script src="/public/js/index.js"></script>

</html>